<h2>MGMT Helpdesk Hours Calculator</h2>
<p>
  <form action="/calculate" method="post">
    Maximum Student Wage (defaults to $12.90): <input type="text" name="student"><br />
    Actual Wage (defaults to $13.50): <input type="text" name="actual"><br />
    Number of Hours Worked: <input type="text" name="hours"><br />
    <input type="submit" value="Calculate!">
  </form>
</p>
